* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  color: #B88A78;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.page {
  height: 100%;
  background: url('../image/mobile_bg.png') center top no-repeat;
  background-size: cover;
  overflow: hidden;
}

#logo {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 60%;
}

#slogen {
  position: absolute;
  top: 45%;
  left: 12.5%;
  width: 75%;
}

#download {
  position: absolute;
  bottom: 9%;
  left: 0;
  right: 0;
}

#download dt {
  font-size: 14px;
  position: relative;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#download dt::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  color: transparent;
  height: 16.5px;
  width: 12px;
  background-image: url("../image/mobile_icon.png");
  background-size: cover;
}

#download .download-platform-wrap {
  width: 40%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#download .android, #download .iPhone{
  font-size: 18px;
  line-height: 40px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: all .8s;
  margin-top: 25px;
  background-color: #fff;
}

#download .android:hover, #download .iPhone:hover {
  color: #fff;
  background-color: #B88A78;
}

#download .android:hover::before {
  background-image: url("../image/android_white.png");
}

#download .iPhone:hover::before {
  background-image: url("../image/apple_white.png");
}

#download .android::before, #download .iPhone::before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -12px;
  height: 22px;
  width: 19px;
}

#download .android::before {
  background-image: url("../image/android_icon.png");
  background-size: cover;
}

#download .iPhone::before {
  background-image: url("../image/apple_icon.png");
  background-size: cover;
}
