  <center class="download-container c_1080">
    <div class="download-inner-container">
      <div class="big-img left">
        <img src="image/img_bird_desk.png" width="100%" />
      </div>

      <dl class="download-panel right">
        <dt class="app-title">
          <img src="image/start_con.png" />
          <img src="image/title.png" style="margin-top: 20px;"/>
          <img src="image/content.png" />
        </dt>
        <dd class="download-QnR">
          <div class="QnR-outer-wrap">
            <div class="QnR-inner-wrap">
              <img id="QnR-image" width="100%" src="image/qr.png" />
              <div class="rect rect-top-left"></div>
              <div class="rect rect-top-right"></div>
              <div class="rect rect-bottom-left"></div>
              <div class="rect rect-bottom-right"></div>
            </div>
          </div>
          <div class="download-platform-wrap">
            <div class="platform android">&nbsp;&nbsp;&nbsp;&nbsp;Android</div>
            <div class="platform iPhone">&nbsp;&nbsp;&nbsp;&nbsp;iPhone</div>
          </div>
        </dd>
      </dl>
    </div>
  </center>
